@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
}

/* Navigation Bar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 13px;
    margin-right: 13px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #0ef;
}

@media screen and (max-width: 620px) {
    header {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

/* General Sections */

.about,
.projects,
.contact {
    padding-top: 74px;
}

/* Home Section */

.home {
    width: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img {
    position: relative;
    width: 70vw;
    height: auto;
}

/* About Section */

.about {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.textbox {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
    font-size: 1em;
}

.textbox h2 {
    font-weight: 600;
}

.textbox small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(255, 255, 255, 0.3);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(255, 255, 255, 0.3);
    left: -15px;
}

.about::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 95%;
    margin-top: 76px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;

    border-radius: 5px;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
}

@media screen and (max-width: 600px) {
    .about {
        margin: 50px auto;
    }

    .about::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .textbox {
        font-size: 13px;
    }

    .textbox small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid rgb(255, 255, 255);
        border-left: 0;
        left: -15px;
    }
}

/* Projects Section  */

.projects {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.containProjects {
    margin-bottom: 45px;
}

.containProjects,
.containProjects2 {
    display: flex;
    flex-direction: row;
    gap: 50px;

    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1px solid;
    margin: 5px;
}

.card img {
    width: 35vw;
    height: auto;
    opacity: 0.5;

    border-radius: 10px;
}

.content {
    position: absolute;
    margin: 40px;
}

.card a {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
    border: none;

    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.card a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {
    .card a {
        padding: 5px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {
    .containProjects,
    .containProjects2 {
        display: flex;
        flex-direction: column;
    }

    .card img {
        width: 80vw;
    }
}

@media screen and (max-width: 380px) {
    .card {
        font-size: 0.8em;
    }
}

/* Contact Section */

.contact {
    width: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea,
button {
    width: 30vw;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-align: center;

    font-family: Poppins, sans-serif;
    transition: 0.5s;
}

textarea {
    resize: none;
    height: 200px;
}

button:hover {
    background-color: rgb(196, 196, 196);
}

@media screen and (max-width: 900px) {
    input,
    textarea,
    button {
        width: 50vw;
    }
}
